# DATABASE 
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
DB_MODE=

# SERVICES 
AUTH_SERVICE_PORT=
PRODUCT_SERVICE_PORT=
ORDER_SERVICE_PORT=

FRONTEND_PORT=

# INTERNAL URLs
PRODUCT_SERVICE_URL=http://product-service

# MONITORING
PROMETHEUS_PORT=
GRAFANA_PORT=