.env
auth-service/.env
order-service/.env
product-service/.env
payment-service/.env
notification-service/.env

terraform/terraform.tfvars
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars